# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [25]:
df=pd.read_csv("output.csv")
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind_Speed
0,butaritari,0,KI,1569465374,75,3.07,172.79,172.79,301.992
1,esperance,40,AU,1569465374,68,-33.86,121.89,121.89,292.150
2,riyadh,0,SA,1569465374,33,24.63,46.72,46.72,297.150
3,vaini,75,IN,1569465375,94,15.34,74.49,74.49,295.150
4,cherskiy,0,RU,1569465186,48,68.75,161.30,161.30,276.132
5,puerto madryn,0,AR,1569465184,41,-42.77,-65.04,-65.04,290.292

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [26]:
coordinates = df[["Lat", "Lng"]]
humidity = df["Humidity"].astype(float)

In [33]:
# Plot Heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, dissipating=False, max_intensity=10,point_radius=5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [34]:
new_df=df[["City","Cloudiness","Humidity","Max Temp", "Wind_Speed"]]
new_df.dropna()
new_df

            City  Cloudiness  Humidity  Max Temp  Wind_Speed
0     butaritari           0        75    172.79     301.992
1      esperance          40        68    121.89     292.150
2         riyadh           0        33     46.72     297.150
3          vaini          75        94     74.49     295.150
4       cherskiy           0        48    161.30     276.132
5  puerto madryn           0        41    -65.04     290.292

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
hotel_df=df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind_Speed,Hotel Name
0,butaritari,0,KI,1569465374,75,3.07,172.79,172.79,301.992,
1,esperance,40,AU,1569465374,68,-33.86,121.89,121.89,292.150,
2,riyadh,0,SA,1569465374,33,24.63,46.72,46.72,297.150,
3,vaini,75,IN,1569465375,94,15.34,74.49,74.49,295.150,
4,cherskiy,0,RU,1569465186,48,68.75,161.30,161.30,276.132,
5,puerto madryn,0,AR,1569465184,41,-42.77,-65.04,-65.04,290.292,

In [101]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
Hotel_name=[]
for i in range(len(hotel_df["City"])):
    params = {
        "location": [hotel_df["Lat"][i],hotel_df["Lng"][i]],
        "rankby": "distance",
        "type": "hotel",
        "key": g_key,
    }
    try:
        response = requests.get(base_url, params=params).json()
        results = response['results'][0]["name"]
        Hotel_name.append(results)
    except IndexError:
        Hotel_name.append('')

In [102]:
hotel_df["Hotel Name"]=Hotel_name

In [103]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna()

Empty DataFrame
Columns: [City, Cloudiness, Country, Date, Humidity, Lat, Lng, Max Temp, Wind_Speed, Hotel Name]
Index: []

In [104]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [105]:
# Add marker layer ontop of heat map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, dissipating=False, max_intensity=10,point_radius=5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

# Display Map

NameError: name 'locations' is not defined